@inherits LayoutComponentBase
@inject ServiceStackStateProvider  AuthStateProvider;
@inject NavigationManager NavigationManager;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            @if(IsAuthenticated){
                <a href="#" target="_blank" class="ml-md-auto" @onclick="LogoutAsync">Logout</a>
            }else{
                <a href="#" target="_blank" class="ml-md-auto" @onclick="Login">Login</a>
            }
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected bool IsAuthenticated {get;set;}    


    protected override async Task OnInitializedAsync()
    {
        var state = await authenticationStateTask;
        IsAuthenticated = state.User.Identity.IsAuthenticated;
    }

    private async Task LogoutAsync() {
        await AuthStateProvider.Logout();
    }

    private void Login() {
        NavigationManager.NavigateTo("/login");
    }
}    