@page "/callhello"
@inherits StackBaseComponent
@using System.Collections.Generic

<h1>Call Hello</h1>

<p>API Response: @Response</p>

<button class="btn btn-primary" @onclick="CallHelloService">Call Hello</button>

@code {
    private string Response { get; set; }

    private async Task CallHelloService()
    {

        var client = await GetClientAsync();
        var response = await client.GetAsync(new Hello {
            Name = "World"
        });
        Response = response.Result;
    }
}
