@page "/hello"
@inherits StackBaseComponent

<h1>Call Hello</h1>

<input type="text" placeholder="What's your name?" @bind-value="request.Name" />
<button class="btn-primary" @onclick="CallApi">Go!</button>

@if (apiResult.ErrorMessage != null) {
    <h3 class="text-danger mt-2">@apiResult.ErrorMessage</h3>
}
else if (apiResult.Response != null) {
    <h3 class="text-success mt-2">@apiResult.Response.Result</h3>
}

@code {
    Hello request = new()
    {
        Name = "Blazor WASM"
    };

    ApiResult<HelloResponse> apiResult = new();

    async Task CallApi() => apiResult = await ApiAsync(request);
}
