a {
    text-decoration: inherit;
    text-decoration-line: inherit;
    text-decoration-thickness: inherit;
    text-decoration-style: inherit;
    text-decoration-color: inherit;
}
.rounded-l-lg {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.rounded-r-md {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

