<a href="#" @onclick="onclick" @onclick:preventDefault
   class=@(@"border-gray-200 text-sm font-medium px-4 py-2 hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 
             dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white " + 
             (IsActive ? "text-blue-700 dark:bg-blue-600" : "text-gray-900 hover:text-blue-700 dark:bg-gray-700") + $" {@class}")>
    @ChildContent
</a>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? @class { get; set; }
    [Parameter]
    public bool IsActive { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> onclick { get; set; }
}
