@inherits LayoutComponentBase
@inject ServiceStackStateProvider AuthStateProvider;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (AuthState.IsAuthenticated())
            {
                var authUser = AuthState.AuthenticatedUser()!;

                <span class="me-3">@authUser.GetDisplayName()</span>

                var roles = authUser.GetRoles();
                @if (roles.Length > 0)
                {
                    @foreach (var role in roles)
                    {
                        <small title="Admin" class="px-2 py-sm-1 me-1 bg-success bg-gradient text-white rounded">@role</small>
                    }
                }
            }
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    Task<AuthenticationState>? AuthStateTask { get; set; }

    AuthenticationState? AuthState { get; set; }

    protected override async Task OnParametersSetAsync() => AuthState = await AuthStateTask!;
} 