@inherits LayoutComponentBase
@inject ServiceStackStateProvider AuthStateProvider;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (AuthState.IsAuthenticated())
            {
                <span>@AuthState.AuthenticatedUser()!.GetDisplayName()</span>
            }
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    Task<AuthenticationState>? AuthStateTask { get; set; }

    AuthenticationState? AuthState { get; set; }

    protected override async Task OnParametersSetAsync() => AuthState = await AuthStateTask!;
} 